<% flash.each do |type, message| %>
  <div class="max-w-lg mx-auto mt-4 p-4 rounded-md <%= flash_class(type) %> flex justify-between items-center" role="alert">
    <span class="block sm:inline"><%= message %></span>
    <button type="button" class="ml-4 text-black hover:text-gray-500 dark:text-white" onclick="this.parentElement.style.display='none';">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
