<!-- app/views/layouts/_menu.html.erb -->
<nav class="bg-indigo-600 dark:bg-indigo-700 p-4 flex justify-between items-center">
  <div class="text-white text-lg font-semibold">
    <%= link_to 'Mercately Rails Challenge', authenticated_root_path, class: 'text-white hover:text-gray-200' %>
  </div>
  <div class="flex items-center space-x-4">
    <button id="dark-mode-toggle" class="text-white focus:outline-none">
      <svg id="sun-icon" class="w-6 h-6 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m8.364-8.364h1M4.636 12H3m15.364 4.364l-.707-.707M5.05 5.05l-.707-.707m13.414 0l-.707.707M5.05 18.95l-.707.707M12 5a7 7 0 110 14 7 7 0 010-14z" />
      </svg>
      <svg id="moon-icon" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 13.657a8 8 0 01-11.314 0 8 8 0 0111.314 0z" />
      </svg>
    </button>
    <%= link_to orders_path, class: 'text-white focus:outline-none relative' do %>
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18l-1.5 9H4.5L3 3zm0 0h18m-9 9v9m0 0H9m3 0h3" />
      </svg>
      <span id="cart-count" class="absolute top-0 right-0 bg-red-500 rounded-full h-6 w-6 flex items-center justify-center text-white"><%= current_user.orders.find_by(state: 'cart').try(:order_items).try(:count) || 0 %></span>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-white' %>
    <% end %>
  </div>
</nav>
